.typo-undertittel {
  margin-top: 25px;
}

.componentItems {
  margin: 30px 0;
}

.innerContainerInput {
  width: 100%;
}

.radio-button {
  margin-top: 10px;
}

.typo-element {
  margin-top: 25px;
}

.buttons {
  margin: 10px;
}

.questionnaireLinkContainer:hover {
  background-color: #f5f5f5;
}

.wrongDatePicked {
  border: 2px solid #ba3a26;
  border-radius: 4px;
}
