.typo-undertittel {
  margin-top: 25px;
}

.componentItems {
  margin: 30px 0;
}

.inputTextAreas {
  width: 950px;
}

.radio-button {
  margin-top: 10px;
}

.typo-element {
  margin-top: 25px;
}

.buttons {
  margin: 10px;
}
