/* You can add global styles to this file, and also import other style files */

/*DARK BAND-HEADER ON TOP OF PAGE + ITS CONTENTS*/

.app-container {
  max-width: 1050px;
  min-width: 690px;
  display: flex;
  margin: 30px auto;
  padding: 0 50px;
}

.nav-header-container {
  display: flex;
  align-items: center;
  position: absolute;
  height: 82px;
  left: 0%;
  right: 0%;
  top: 0px;
  background: rgba(38, 38, 38, 0.9);
  justify-content: space-between;
}

.bandline {
  position: absolute;
  height: 8px;
  left: 0%;
  right: 0%;
  top: 82px;
  margin-top: 82;
  background: #66a5f4;
}

.name-container {
  display: flex;
  align-items: center;
}

.patientNameContainer {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

#person-logo {
  height: 40px;
  margin: 15px 5px;
}

#patient-name {
  color: white;
  font-size: 1.5rem;
  margin: 0;
}

#lukk {
  color: white;
  margin: 1px;
}

.nav-logo {
  height: 50px;
  margin: 15px 20px;
}

.informationIcon {
  height: 75px;
  margin-bottom: 10px;
}

/*TITLE AREA, UNDER THE DARK BAND HEADER*/

.titleContainer {
  display: flex;
}

.tittel {
  flex: 1;
}

/*MAIN BODY WITH THE QUESTIONAORES*/

.ingress {
  margin: 25px 0 40px;
}

/*FOOTER SECTION WITH BUTTONS*/

.button-general {
  margin: 10px;
}
