/* You can add global styles to this file, and also import other style files */
body {
  margin: 140px 40px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*DARK BAND-HEADER ON TOP OF PAGE + ITS CONTENTS*/

.nav-header {
  position: absolute;
  height: 82px;
  left: 0%;
  right: 0%;
  top: 0px;

  background: rgba(38, 38, 38, 0.9);
}

.bandline {
  position: absolute;
  height: 8px;
  left: 0%;
  right: 0%;
  top: 82px;
  margin-top: 300px;

  background: #66a5f4;
  border-radius: 500px;
}

#close-container {
  display: grid;
  float: right;
  margin: 20px 30px 0 0;
}

#close-knapp {
  color: white;
  font-size: 2rem;
}

#lukk {
  color: white;
  margin: 1px;
}

/*TITLE AREA, UNDER THE DARK BAND HEADER*/

.titleContainer {
  display: flex;
}

.tittel {
  flex: 1;
}

/*MAIN BODY WITH THE QUESTIONAORES*/

.main-body {
  border-style: groove none none none;
}

/*FOOTER SECTION WITH BUTTONS*/

.button-general {
  margin: 5px;
}
